@using RE.Core.Business.Queries.Responses.Settings;
@using RE.Core.Configuration
@using Microsoft.Extensions.Options
@using RE.Core.Interfaces.Services

@inject IOptions<UrlSettings> UrlSettings
@inject IAuthService AuthService
@model SettingsViewModel

@{
    ViewData["Title"] = "Settings Page";
    var applicationUrl = AuthService.IsAuthorized ? "/" : UrlSettings.Value.ApplicationWebsiteTunnelUrl;
    var missingCaptureText = Html.Raw(Model.MissingCaptures > 0 ? $"<b>{Model.MissingCaptures}</b>" : "No");
}

<div class="row">
    <div class="col-md-3 col-menu">
        <partial name="_ManageNav" for="Websites" />
    </div>
    <div class="col-md-9 col-grid">

        <ul id="settingsTabs" class="nav nav-tabs nav-fill">
            <li class="nav-item">
                <a href="#websites" class="nav-link small text-uppercase active">
                    <strong>Websites</strong>
                </a>
            </li>
            <li class="nav-item">
                <a href="#configuration" class="nav-link small text-uppercase">
                    <strong>Configuration</strong>
                </a>
            </li>
            <li class="nav-item">
                <a href="#job" class="nav-link small text-uppercase">
                    <strong>Job</strong>
                </a>
            </li>
        </ul>
        <br>
        <div class="tab-content">
            <div id="websites" class="tab-pane active show">
                <div class="col-md-8 offset-2 mt-5">
                    <ul class="list-group">
                        @foreach (var website in Model.Websites)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 mb-2">
                                <div>
                                    <div class="website-logo-container">
                                        <img alt="logo" class="website-full-logo" src="@website.Logo" />
                                    </div>
                                    <span>@website.Name</span>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input id="check-@website.Id" asp-for="@website.Active" class="custom-control-input">
                                    <label for="check-@website.Id" class="custom-control-label">&nbsp;</label>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div id="configuration" class="tab-pane">
                <div class="col-md-6 offset-3 mt-5">
                    <form asp-action="Update" onsubmit="return jQueryAjaxPost(this);">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group form-check">
                            <input asp-for="TakeScreenShots" class="form-check-input">
                            <label asp-for="TakeScreenShots" class="form-check-label"></label>
                        </div>

                        <div id="take-screenshots-container">
                            <div class="form-group form-check">
                                <input asp-for="UseScreenShotMachineApi" class="form-check-input">
                                <label asp-for="UseScreenShotMachineApi" class="form-check-label">
                                    @Html.Raw(Html.DisplayNameFor(x => x.UseScreenShotMachineApi))
                                </label>
                            </div>

                            <div id="use-screenshot-machine-api-container" class="card form-group">
                                <div class="card-body">
                                    <label asp-for="ScreenShotMachineApiKey"></label>
                                    <input asp-for="ScreenShotMachineApiKey" class="form-control" />
                                    <span asp-validation-for="ScreenShotMachineApiKey" class="text-danger"></span>

                                    <div class="d-flex mt-1">
                                        <a class="btn btn-link" asp-controller="Settings" asp-action="GenerateWebShotKey" style="margin-left: auto; margin-right: 0;">
                                            <i class="fas fa-key text-info"></i>
                                            Generate
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="OfferCount"></label>
                            <input asp-for="OfferCount" class="form-control" />
                            <span asp-validation-for="OfferCount" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ScrapperDirectory"></label>
                            <input asp-for="ScrapperDirectory" class="form-control" />
                            <span asp-validation-for="ScrapperDirectory" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ScreenShotsDirectory"></label>
                            <input asp-for="ScreenShotsDirectory" class="form-control" />
                            <span asp-validation-for="ScreenShotsDirectory" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ChromeDriverDirectory"></label>
                            <input asp-for="ChromeDriverDirectory" class="form-control" />
                            <span asp-validation-for="ChromeDriverDirectory" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Chrono"></label>
                            <input asp-for="Chrono" class="form-control" />
                            <span asp-validation-for="Chrono" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="TimeoutCoverage"></label>
                            <input asp-for="TimeoutCoverage" class="form-control" />
                            <span asp-validation-for="TimeoutCoverage" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-5">
                            <div class="col-md-6 offset-md-3">
                                <input type="submit" value="Save" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div id="job" class="tab-pane">
                <div class="col-md-6 offset-3 mt-5 text-center">
                    <div class="mb-5">
                        @{
                            if (Model.JubRunning)
                            {
                                <span>Job is running</span>
                                <a asp-controller="Settings" asp-action="StopJob" style="min-width: 100px;"
                                   class="btn btn-warning text-white disable-and-show-loading-click">
                                    <i class="fas fa-random"></i>
                                    Stop it
                                </a>
                            }
                            else
                            {
                                <span>Job is not running</span>
                                <a asp-controller="Settings" asp-action="StartJob" style="min-width: 100px;"
                                   class="btn btn-success text-white disable-and-show-loading-click">
                                    <i class="fas fa-random"></i>
                                    Fire
                                </a>
                            }
                        }
                    </div>
                    <div>
                        <span>@(missingCaptureText) missing captures</span>
                        <a asp-controller="Settings" asp-action="CaptureOffers"
                           asp-conditional-class-disabled="@(Model.MissingCaptures == 0)" style="min-width: 145px;"
                           class="btn btn-info text-white disable-and-show-loading-click">
                            <i class="fas fa-sync"></i>
                            Take captures
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        var activeWebsiteSelector = 'input[id^="check-"]';
        var settingsTabsSelector = '#settingsTabs';
        var settingsTabsAnchors = `${settingsTabsSelector} a`;
        var settingsTabsDefaultAnchor = `${settingsTabsSelector} a[href="${window.location.hash}"]`;
        var settingsTabsContentSelector = 'ul.nav-tabs > li > a';
        var takeScreenShotsSelector = '#TakeScreenShots';
        var takeScreenshotsContainer = '#take-screenshots-container';
        var useScreenShotMachineApiSelector = '#UseScreenShotMachineApi';
        var useScreenShotMachineApiContainer = '#use-screenshot-machine-api-container';
        var screenShotMachineWarning = '#screenShotMachine-warning';

        var toggleTakeScreenshotsContainer = function() {
            if ($(takeScreenShotsSelector).is(':checked')) $(takeScreenshotsContainer).slideDown();
            else $(takeScreenshotsContainer).slideUp();
        };

        var toggleUseScreenShotMachineApiContainer = function() {
            if ($(useScreenShotMachineApiSelector).is(':checked')) $(useScreenShotMachineApiContainer).slideDown();
            else $(useScreenShotMachineApiContainer).slideUp();
        };

        var toggleScreenShotMachineWarning = function() {
            if ($(takeScreenShotsSelector).is(':checked') && $(useScreenShotMachineApiSelector).is(':checked')) $(screenShotMachineWarning).fadeIn();
            else $(screenShotMachineWarning).fadeOut();
        };

        $(document).ready(function() {

            toggleTakeScreenshotsContainer();
            $(takeScreenShotsSelector).click(function() {
                toggleTakeScreenshotsContainer();
                toggleScreenShotMachineWarning();
            });

            toggleUseScreenShotMachineApiContainer();
            $(useScreenShotMachineApiSelector).click(function() {
                toggleUseScreenShotMachineApiContainer();
                toggleScreenShotMachineWarning();
            });

            toggleScreenShotMachineWarning();

            $(activeWebsiteSelector).change(function() {
                var checked = this.checked;
                var websiteId = this.id.substring(this.id.indexOf('-') + 1);
                var params = $.param({ id: parseInt(websiteId) });
                var activateWebsiteUrl = '@Flurl.Url.Combine(applicationUrl, Url.Action("Activate", "Websites"))';
                var deactivateWebsiteUrl = '@Flurl.Url.Combine(applicationUrl, Url.Action("Deactivate", "Websites"))';
                var url = `${(checked ? activateWebsiteUrl : deactivateWebsiteUrl)}?${params}`;

                location.replace(url);
            });

            $(settingsTabsAnchors).click(function(e) {
                e.preventDefault();
                $(this).tab('show');
            });

            // Store the currently selected tab in the hash value
            $(settingsTabsContentSelector).on("shown.bs.tab",
                function(e) {
                    var id = $(e.target).attr("href").substr(1);
                    var hash = `#${id}`;
                    if (history.pushState) history.pushState(null, null, hash);
                    else location.hash = id;
                });

            // On load of the page: switch to the currently selected tab
            $(settingsTabsDefaultAnchor).tab('show');
        });
</script>
}