@using RE.Core.Models.Pagination
@using RE.Core.Extensions
@using RE.Core.Models.Filters
@using RE.Core.Exceptions
@model FilterInfo

@{
    var availabilityValue = Model.AvailabilityType switch
    {
        AvailabilityFilter.Active => 1,
        AvailabilityFilter.All => 2,
        AvailabilityFilter.Expired => 3,
        _ => throw new AvailabilityFilterNotSupportedException(Model.AvailabilityType)
    };
}

<div class="mt-3">
    <button type="button" class="btn btn-link text-decoration-none"
            data-toggle="collapse" data-target="#filter-panel">
        <i class="fas fa-cog fa-spin"></i> Filter
    </button>

    <a id="reset-filter" class="btn btn-link sm-font-size ml-1 p-0"
       asp-action="Index" asp-conditional-class-d-none="@(!Model.Shown)" asp-route-shown="@true"
       data-toggle="tooltip" title="Reset filter">
        <span class="fa-stack">
            <i class="fa fa-filter"></i>
            <i class="fa fa-ban fa-stack-2x"></i>
        </span>
    </a>
</div>

<div id="filter-panel" class="collapse card mt-4" asp-conditional-class-show="@Model.Shown">
    <div class="card-body row">

        <!-- Active filter -->
        <div class="col-md-1">
            <label for="range-filter">@Model.AvailabilityType</label>
            <br />
            <input type="range" id="range-filter" min="1" class="@Model.AvailabilityType.GetDisplayCssClass() mt-1" max="3" value="@availabilityValue" />
        </div>

        <!-- Room filter -->
        <div class="col-md-2">
            <label>Rooms</label>
            <br />
            <select class="selectpicker" data-style="btn-info" data-actions-box="true" data-width="fit"
                    asp-for="RoomTypes"
                    asp-items="@Html.GetEnumSelectList<RoomsFilter>()"
                    onchange="submitForm()">
            </select>
        </div>

        <!-- Floor filter -->
        <div class="col-md-3">
            <label>Floor</label>
            <br />
            <select class="selectpicker" data-live-search="true" data-style="btn-info" data-actions-box="true"
                    asp-for="FloorTypes"
                    asp-items="@Html.GetEnumSelectList<FloorFilter>()"
                    onchange="submitForm()">
            </select>
        </div>

        <!-- Trend filter -->
        <div class="col-md-2">
            <label>Trend</label>
            <br />
            <select asp-for="TrendType" class="selectpicker" data-style="btn-info" onchange="submitForm()" title="Choose one" data-width="fit">
                @foreach (var trendType in Enum.GetValues<TrendFilter>())
                {
                    <option data-icon="@trendType.GetDisplayIcon()" value="@trendType">@trendType.GetDisplayName()</option>
                }
            </select>
        </div>

        <!-- Publish Date filter -->
        <div class="col-md-4">
            <label>Publish Date</label>
            <br />
            <div class="row" style="width: 115%;">
                <input asp-for="PublishDateFrom" id="publish-date-from" class="form-control col-md-5" type="date" onchange="submitForm()" />
                <div class="d-flex align-items-center mx-2">
                    <i class="fas fa-angle-double-right"></i>
                </div>
                <input asp-for="PublishDateTo" id="publish-date-to" class="form-control col-md-5" type="date" onchange="submitForm()" />
            </div>
        </div>

    </div>
</div>
