@using RE.Core.Business.Queries.Responses.Websites
@using Microsoft.AspNetCore.Routing
@using RE.Core.Configuration
@using RE.Core.Extensions
@using RE.Core.Models.Filters
@inject Settings settings
@model IEnumerable<WebsiteDto>
@{
    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var websiteId = Context.GetRouteData().Values.Last().Value;
    var authorizedAccess = !Context.HasAddressSet();
    var showScreenShotMachineWarning = settings.TakeScreenShots && settings.UseScreenShotMachineApi && string.IsNullOrEmpty(settings.ScreenShotMachineApiKey);
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link d-flex justify-content-between" asp-controller="Home" asp-action="Index"
           asp-conditional-class-active="@(controller.Equals("Websites") || controller.Equals("Home"))">
            Websites
            <span class="text-muted">
                <i class="fas fa-list" 
                   asp-conditional-class-text-white="@(controller.Equals("Home"))"
                   asp-conditional-class-text-info="@(!controller.Equals("Home"))"></i>
            </span>
        </a>
        <ul class="nav nav-pills flex-column ml-4 nav--secondary"
            asp-conditional-class-collapse="@(controller.Equals("Settings") || controller.Equals("Alerts"))">
            @foreach (var item in Model)
            {
                <li class="nav-item">
                    <a class="nav-link d-flex justify-content-between" asp-controller="Websites" asp-action="Index" asp-route-id="@item.Id"
                       asp-conditional-class-active="@(controller.Equals("Websites") && action.Equals("Index") && item.Id.ToString().Equals(websiteId))">
                        <div>
                            <img alt="logo" class="website-logo" src="@item.Logo" />
                            @Html.DisplayFor(modelItem => item.Name)
                        </div>
                        <span class="text-muted">@item.Offers</span>
                    </a>
                </li>
            }
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link d-flex justify-content-between" asp-controller="Reports" asp-route-rooms="@RoomsFilter.One"
           asp-conditional-class-active="@(controller.Equals("Reports"))">
            Reports
            <span class="text-muted">
                <i class="fas fa-chart-line" 
                   asp-conditional-class-text-white="@(controller.Equals("Reports"))"
                   asp-conditional-class-text-info="@(!controller.Equals("Reports"))"></i>
            </span>
        </a>
    </li>

    @if (authorizedAccess)
    {
        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" asp-controller="Alerts"
               asp-conditional-class-active="@(controller.Equals("Alerts"))">
                Alerts
                <span class="text-muted">
                    <i class="fas fa-bell"
                       asp-conditional-class-text-white="@(controller.Equals("Alerts"))"
                       asp-conditional-class-text-info="@(!controller.Equals("Alerts"))"></i>
                </span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link d-flex justify-content-between" asp-controller="Settings"
               asp-conditional-class-active="@(controller.Equals("Settings"))">
                Settings
                <span id="screenShotMachine-warning" class="text-muted" style="display: @(showScreenShotMachineWarning ? "visible" : "none")">
                    <i class="fas fa-exclamation-triangle text-danger"></i>
                </span>
                <span class="text-muted">
                    <i class="fas fa-tools"
                       asp-conditional-class-text-white="@(controller.Equals("Settings"))"
                       asp-conditional-class-text-info="@(!controller.Equals("Settings"))"></i>
                </span>
            </a>
        </li>
    }
</ul>
