@using RE.Core.Business.Queries.Responses.Offers
@model OfferDto

@{
    Layout = null;
    var usableArea = Model.UsableArea.HasValue ? $"{Model.UsableArea}m<sup>2</sup>" : "-";
    var totalArea = Model.TotalArea.HasValue ? $"{Model.TotalArea}m<sup>2</sup>" : "-";
    var partitioning = Model.Partitioning ?? "-";
    var year = Model.Year ?? "-";
    var floor = Model.Floor.HasValue ? Model.Floor.ToString() : "-";
}

<div class="row mb-2">
    <div class="col-md-12">
        <ul class="list-group offer-details">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0">@Html.LabelFor(x => x.Domain)</h6>
                <span class="text-muted">@Model.Domain</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0 link"><a href="@Model.Url" target="_blank">@Model.Url</a></h6>
                <span class="text-muted">
                    <a href="#/" class="btn-round btn-copy js-copy-clipboard copy-link">
                        <img class="btn-copy__step-1" src="https://img.pes-dev.com/website/Content/images/icons/copy.svg" />
                        <img class="btn-copy__step-2" src="https://img.pes-dev.com/website/Content/images/icons/check.svg" />
                        <span class="btn-tooltip">Copy link</span>
                        <span class="btn-tooltip-done">Copied to clipboard</span>
                    </a>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0">@Html.LabelFor(x => x.Title)</h6>
                <span class="text-muted">@Model.Title</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0">@Html.LabelFor(x => x.Rooms)</h6>
                <span class="text-muted">
                    <span class="badge badge-primary badge-pill md-font-size">@Model.Rooms</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0">@Html.LabelFor(x => x.Floor)</h6>
                <span class="text-muted">
                    <span class="badge badge-primary badge-pill md-font-size">@floor</span>
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0">@Html.LabelFor(x => x.Year)</h6>
                <span class="text-muted">@year</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0">@Html.LabelFor(x => x.Partitioning)</h6>
                <span class="text-muted">@partitioning</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0">@Html.LabelFor(x => x.UsableArea)</h6>
                <span class="text-muted">@Html.Raw(usableArea)</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <h6 class="my-0">@Html.LabelFor(x => x.TotalArea)</h6>
                <span class="text-muted">@Html.Raw(totalArea)</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light lh-condensed">
                <h6 class="my-0 text-@(Model.Active ? "success" : "danger")">@Html.LabelFor(x => x.Active)</h6>
                <span class="text-@(Model.Active ? "success" : "danger")">
                    @if (Model.Active)
                    {<i class="fas fa-check-circle"></i> }
                    else
                    { <i class="fas fa-ban"></i>}
                </span>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.js-copy-clipboard').click(function (e) {
            e.preventDefault();
            var jqSelf = $(this);
            var removeDone = function () {
                jqSelf.removeClass('done');
            };

            if (jqSelf.hasClass('done')) {
                removeDone();
            } else {
                jqSelf.addClass('done');
                jqSelf.find('.btn-copy__step-1').addClass('fade-in-animation');
                setTimeout(removeDone, 3000);
            }
        });

        $('.copy-link').click(function (e) {
            e.preventDefault();
            $('.link').copyToClipboard();
        });
    })
</script>
